/*Color Pallete
#0B132B - Maastricht Blue
#1C2541 - Yankees Blue
#3A506B - Independence
#5BC0BE - Sea Sarpent
#6FFFE9 - Aquamarine
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1, h2 {
	font-family: 'Slabo 13px', serif;
}

h1 {
	font-weight: 500px;
	font-size: 70px;
	margin:50px;
	text-align: center;
}
p{
	margin:0px;
	text-align: center;

}

h2 {
	font-weight: 150px;
	font-size: 20px;
}

body {
	font-family: 'Ubuntu', sans-serif;
	padding-top: 0;
	margin: 20px	;
	background:white;
}


table {
	position: center;
	width: 600px;
}

th, td{
	padding: 10px;
	text-align: center;
	color: black;
}

table {
	width:80%;
}

/*Fuel*/
/*
.fuelStable {
	color: black;
}*/